@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import 'globals';

body {
  background-color: $favColor !important;
}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 30rem;
}

.home-page {
  display: column;
  justify-content: center;

  .welcome-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .search-filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .home-post-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .card-text {
      text-align: center;
    }

    .card-title {
      text-align: center;
    }

     .img-fluid {
       max-width: 150px;
     }
  }
}

.searchInputs {
  margin-top: 10px;
  display: flex;
}

.search input {
  background-color: white;
  border: 0;
  border-radius: 2px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 18px;
  padding: 15px;
  height: 60px;
  width: 300px;
}

.searchIcon {
  height: 60px;
  width: 50px;
  background-color: white;
  display: grid;
  place-items: center;
}

input:focus {
  outline: none;
}
.searchIcon svg {
  font-size: 35px;
}

.dataResult {
  margin-top: 5px;
  width: 300px;
  height: 200px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
}

.dataResult::-webkit-scrollbar {
  display: none;
}

.dataResult .dataItem {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  color: black;
}

.dataItem p {
  margin-left: 10px;
}
a {
  text-decoration: none;
}

a:hover {
  background-color: lightgrey;
}

#clearBtn {
  cursor: pointer;
}